# 该notebook为天池预测幸福感比赛中本人建模过程

导入模块

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

导入数据集

In [29]:
train = pd.read_csv('happiness_train_complete.csv', encoding='ISO-8859-1')
test = pd.read_csv('happiness_test_complete.csv', encoding='ISO-8859-1')
data = pd.concat([train, test], ignore_index=True)

先定义几个数据预处理中需要用到的函数

In [30]:
def reduce_mem_usage(df): #防止内存过大导致计算过程中出现内存错误，将数据集压缩至最优格式到达减少内存的目的
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() 
    print('Memory usage of dataframe is {:.2f} B'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() 
    print('Memory usage after optimization is: {:.2f} B'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    return df

In [31]:
reduce_mem_usage(data)

Memory usage of dataframe is 12284288.00 B
Memory usage after optimization is: 2426928.00 B
Decreased by 80.2%

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,...,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4.0,1,12,32,59,2015/8/4 14:18,1,1959,1,...,4,50,60.0,50,50,30.0,30,50,50,50
1,2,4.0,2,18,52,85,2015/7/21 15:04,1,1992,1,...,3,90,70.0,70,80,85.0,70,90,60,60
2,3,4.0,2,29,83,126,2015/7/21 13:24,2,1967,1,...,4,90,80.0,75,79,80.0,90,90,90,75
3,4,5.0,2,10,28,51,2015/7/25 17:33,2,1943,1,...,3,100,90.0,70,80,80.0,90,90,80,80
4,5,4.0,1,7,18,36,2015/8/10 9:50,2,1994,1,...,2,50,50.0,50,50,50.0,50,50,50,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10963,10964,NaN,1,27,77,117,2015/7/19 20:01,2,1946,1,...,5,50,60.0,60,70,50.0,60,40,60,50
10964,10965,NaN,2,26,74,114,2015/8/8 13:09,2,1977,1,...,3,60,50.0,70,50,50.0,50,50,50,50
10965,10966,NaN,2,29,84,127,2015/7/22 9:29,2,1968,1,...,4,60,60.0,60,60,60.0,60,60,60,60
10966,10967,NaN,1,11,31,54,2015/7/20 16:06,1,1950,1,...,3,84,60.0,70,87,90.0,80,80,80,80
10967,10968,NaN,1,13,37,68,2015/9/3 9:59,1,1941,1,...,5,90,90.0,90,90,90.0,90,90,90,90

In [32]:
def drop_morenan(data): #当数据集的缺失值数量超过一定数量我们就将其删除
    for i in data.columns:
        print('---------------------')
        if i == 'happiness': #测试集没有标签，忽略掉
            continue
        print(i + '缺失值为{}'.format(data[i].isnull().sum()))
        #print('缺失数量大于20%，将该特征删除')
        if data[i].isnull().sum() > len(data) * 0.2:
            print('缺失数量大于20%，将该特征删除')
            data = data.drop(columns=i)
    return data

In [33]:
def search_negative(data): #因为调查问卷中不会有负值，所以要查看数据中的异常值
    columns = data.columns
    for column in columns:
        if data[column].dtype != 'object':
            print('%s 的异常值个数为：%d' % (column,len(data.loc[data[column] < 0,:][column])))

In [34]:
def negative_to_nan(data): #蒋异常值转化为缺失值方便处理
    for i in data.columns:
        data[i] = data[i].apply(lambda x: x if x >= 0 else np.nan)
    return data

数据预处理与特征工程

In [35]:
data = data.drop(columns='survey_time') #很明显调查时间不是影响结果的特征，我们只需要对结果有影响的特征

In [36]:
data.info(max_cols=150)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 139 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10968 non-null  int16
 1   happiness             8000 non-null   float16
 2   survey_type           10968 non-null  int8
 3   province              10968 non-null  int8
 4   city                  10968 non-null  int8
 5   county                10968 non-null  int16
 6   gender                10968 non-null  int8
 7   birth                 10968 non-null  int16
 8   nationality           10968 non-null  int8
 9   religion              10968 non-null  int8
 10  religion_freq         10968 non-null  int8
 11  edu                   10968 non-null  int8
 12  edu_other             6 non-null      category
 13  edu_status            9399 non-null   float16
 14  edu_yr                8212 non-null   float16
 15  income                10968 non-null  int32
 16  political             10968 non-null  int8
 17  join_party            1126 non-null   float16
 18  floor_area            10968 non-null  float16
 19  property_0            10968 non-null  int8
 20  property_1            10968 non-null  int8
 21  property_2            10968 non-null  int8
 22  property_3            10968 non-null  int8
 23  property_4            10968 non-null  int8
 24  property_5            10968 non-null  int8
 25  property_6            10968 non-null  int8
 26  property_7            10968 non-null  int8
 27  property_8            10968 non-null  int8
 28  property_other        89 non-null     category
 29  height_cm             10968 non-null  int16
 30  weight_jin            10968 non-null  int16
 31  health                10968 non-null  int8
 32  health_problem        10968 non-null  int8
 33  depression            10968 non-null  int8
 34  hukou                 10968 non-null  int8
 35  hukou_loc             10964 non-null  float16
 36  media_1               10968 non-null  int8
 37  media_2               10968 non-null  int8
 38  media_3               10968 non-null  int8
 39  media_4               10968 non-null  int8
 40  media_5               10968 non-null  int8
 41  media_6               10968 non-null  int8
 42  leisure_1             10968 non-null  int8
 43  leisure_2             10968 non-null  int8
 44  leisure_3             10968 non-null  int8
 45  leisure_4             10968 non-null  int8
 46  leisure_5             10968 non-null  int8
 47  leisure_6             10968 non-null  int8
 48  leisure_7             10968 non-null  int8
 49  leisure_8             10968 non-null  int8
 50  leisure_9             10968 non-null  int8
 51  leisure_10            10968 non-null  int8
 52  leisure_11            10968 non-null  int8
 53  leisure_12            10968 non-null  int8
 54  socialize             10968 non-null  int8
 55  relax                 10968 non-null  int8
 56  learn                 10968 non-null  int8
 57  social_neighbor       9871 non-null   float16
 58  social_friend         9871 non-null   float16
 59  socia_outing          10968 non-null  int8
 60  equity                10968 non-null  int8
 61  class                 10968 non-null  int8
 62  class_10_before       10968 non-null  int8
 63  class_10_after        10968 non-null  int8
 64  class_14              10968 non-null  int8
 65  work_exper            10968 non-null  int8
 66  work_status           4029 non-null   float16
 67  work_yr               4029 non-null   float16
 68  work_type             4030 non-null   float16
 69  work_manage           4030 non-null   float16
 70  insur_1               10968 non-null  int8
 71  insur_2               10968 non-null  int8
 72  insur_3               10968 non-null  int8
 73  insur_4               10968 non-null  int8
 74  family_income         10967 non-null  float32
 75  family_m              10968 non-null  int8
 76  family_status         10968 non-null  int8
 77  house                 10968 non-null  int8
 78  car                   10968 non-null  int8
 79  invest_0              10968 non-null  int8
 80  invest_1              10968 non-null  int8
 81  invest_2              10968 non-null  int8
 82  invest_3              10968 non-null  int8
 83  invest_4              10968 non-null  int8
 84  invest_5              10968 non-null  int8
 85  invest_6              10968 non-null  int8
 86  invest_7              10968 non-null  int8
 87  invest_8              10968 non-null  int8
 88  invest_other          45 non-null     category
 89  son                   10968 non-null  int8
 90  daughter              10968 non-null  int8
 91  minor_child           9520 non-null   float16
 92  marital               10968 non-null  int8
 93  marital_1st           9839 non-null   float16
 94  s_birth               8601 non-null   float16
 95  marital_now           8521 non-null   float16
 96  s_edu                 8601 non-null   float16
 97  s_political           8601 non-null   float16
 98  s_hukou               8601 non-null   float16
 99  s_income              8601 non-null   float32
 100 s_work_exper          8601 non-null   float16
 101 s_work_status         3524 non-null   float16
 102 s_work_type           3524 non-null   float16
 103 f_birth               10968 non-null  int16
 104 f_edu                 10968 non-null  int8
 105 f_political           10968 non-null  int8
 106 f_work_14             10968 non-null  int8
 107 m_birth               10968 non-null  int16
 108 m_edu                 10968 non-null  int8
 109 m_political           10968 non-null  int8
 110 m_work_14             10968 non-null  int8
 111 status_peer           10968 non-null  int8
 112 status_3_before       10968 non-null  int8
 113 view                  10968 non-null  int8
 114 inc_ability           10968 non-null  int8
 115 inc_exp               10968 non-null  float32
 116 trust_1               10968 non-null  int8
 117 trust_2               10968 non-null  int8
 118 trust_3               10968 non-null  int8
 119 trust_4               10968 non-null  int8
 120 trust_5               10968 non-null  int8
 121 trust_6               10968 non-null  int8
 122 trust_7               10968 non-null  int8
 123 trust_8               10968 non-null  int8
 124 trust_9               10968 non-null  int8
 125 trust_10              10968 non-null  int8
 126 trust_11              10968 non-null  int8
 127 trust_12              10968 non-null  int8
 128 trust_13              10968 non-null  int8
 129 neighbor_familiarity  10968 non-null  int8
 130 public_service_1      10968 non-null  int8
 131 public_service_2      10968 non-null  float16
 132 public_service_3      10968 non-null  int8
 133 public_service_4      10968 non-null  int8
 134 public_service_5      10968 non-null  float16
 135 public_service_6      10968 non-null  int8
 136 public_service_7      10968 non-null  int8
 137 public_service_8      10968 non-null  int8
 138 public_service_9      10968 non-null  int8
dtypes: category(3), float16(24), float32(3), int16(7), int32(1), int8(101)
memory usage: 1.9 MB

In [37]:
data = data.drop(columns='edu_other') #category类型的数据异常值很多先删除
data = data.drop(columns='property_other')
data = data.drop(columns='invest_other')

In [38]:
search_negative(data)

id 的异常值个数为：0
happiness 的异常值个数为：12
survey_type 的异常值个数为：0
province 的异常值个数为：0
city 的异常值个数为：0
county 的异常值个数为：0
gender 的异常值个数为：0
birth 的异常值个数为：0
nationality 的异常值个数为：20
religion 的异常值个数为：146
religion_freq 的异常值个数为：22
edu 的异常值个数为：19
edu_status 的异常值个数为：38
edu_yr 的异常值个数为：1679
income 的异常值个数为：605
political 的异常值个数为：47
join_party 的异常值个数为：120
floor_area 的异常值个数为：0
property_0 的异常值个数为：0
property_1 的异常值个数为：0
property_2 的异常值个数为：0
property_3 的异常值个数为：0
property_4 的异常值个数为：0
property_5 的异常值个数为：0
property_6 的异常值个数为：0
property_7 的异常值个数为：0
property_8 的异常值个数为：0
height_cm 的异常值个数为：0
weight_jin 的异常值个数为：0
health 的异常值个数为：7
health_problem 的异常值个数为：52
depression 的异常值个数为：26
hukou 的异常值个数为：0
hukou_loc 的异常值个数为：0
media_1 的异常值个数为：2
media_2 的异常值个数为：5
media_3 的异常值个数为：5
media_4 的异常值个数为：4
media_5 的异常值个数为：17
media_6 的异常值个数为：21
leisure_1 的异常值个数为：7
leisure_2 的异常值个数为：22
leisure_3 的异常值个数为：21
leisure_4 的异常值个数为：16
leisure_5 的异常值个数为：92
leisure_6 的异常值个数为：21
leisure_7 的异常值个数为：44
leisure_8 的异常值个数为：24
leisure_9 的异常值个数为：27
leisure_10 的异常值个数为：47
leisure_11 的异常值个数为：48
leisure_12 的异常值个数为：37
socialize 的异常值个数为：6
relax 的异常值个数为：22
learn 的异常值个数为：28
social_neighbor 的异常值个数为：17
social_friend 的异常值个数为：60
socia_outing 的异常值个数为：71
equity 的异常值个数为：64
class 的异常值个数为：106
class_10_before 的异常值个数为：148
class_10_after 的异常值个数为：638
class_14 的异常值个数为：191
work_exper 的异常值个数为：0
work_status 的异常值个数为：36
work_yr 的异常值个数为：209
work_type 的异常值个数为：93
work_manage 的异常值个数为：87
insur_1 的异常值个数为：51
insur_2 的异常值个数为：162
insur_3 的异常值个数为：221
insur_4 的异常值个数为：249
family_income 的异常值个数为：930
family_m 的异常值个数为：33
family_status 的异常值个数为：64
house 的异常值个数为：174
car 的异常值个数为：13
invest_0 的异常值个数为：0
invest_1 的异常值个数为：0
invest_2 的异常值个数为：0
invest_3 的异常值个数为：0
invest_4 的异常值个数为：0
invest_5 的异常值个数为：0
invest_6 的异常值个数为：0
invest_7 的异常值个数为：0
invest_8 的异常值个数为：0
son 的异常值个数为：14
daughter 的异常值个数为：16
minor_child 的异常值个数为：13
marital 的异常值个数为：0
marital_1st 的异常值个数为：772
s_birth 的异常值个数为：0
marital_now 的异常值个数为：491
s_edu 的异常值个数为：46
s_political 的异常值个数为：24
s_hukou 的异常值个数为：23
s_income 的异常值个数为：696
s_work_exper 的异常值个数为：0
s_work_status 的异常值个数为：40
s_work_type 的异常值个数为：57
f_birth 的异常值个数为：4664
f_edu 的异常值个数为：835
f_political 的异常值个数为：282
f_work_14 的异常值个数为：418
m_birth 的异常值个数为：4448
m_edu 的异常值个数为：685
m_political 的异常值个数为：212
m_work_14 的异常值个数为：405
status_peer 的异常值个数为：65
status_3_before 的异常值个数为：58
view 的异常值个数为：305
inc_ability 的异常值个数为：1325
inc_exp 的异常值个数为：1501
trust_1 的异常值个数为：109
trust_2 的异常值个数为：314
trust_3 的异常值个数为：1399
trust_4 的异常值个数为：1413
trust_5 的异常值个数为：64
trust_6 的异常值个数为：1562
trust_7 的异常值个数为：310
trust_8 的异常值个数为：1381
trust_9 的异常值个数为：648
trust_10 的异常值个数为：2451
trust_11 的异常值个数为：5456
trust_12 的异常值个数为：3382
trust_13 的异常值个数为：214
neighbor_familiarity 的异常值个数为：11
public_service_1 的异常值个数为：318
public_service_2 的异常值个数为：233
public_service_3 的异常值个数为：589
public_service_4 的异常值个数为：444
public_service_5 的异常值个数为：511
public_service_6 的异常值个数为：321
public_service_7 的异常值个数为：405
public_service_8 的异常值个数为：585
public_service_9 的异常值个数为：405

In [39]:
negative_to_nan(data) #将异常值都转为缺失值

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,...,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4.0,1,12,32,59,1,1959,1.0,1.0,...,4.0,50.0,60.0,50.0,50.0,30.0,30.0,50.0,50.0,50.0
1,2,4.0,2,18,52,85,1,1992,1.0,1.0,...,3.0,90.0,70.0,70.0,80.0,85.0,70.0,90.0,60.0,60.0
2,3,4.0,2,29,83,126,2,1967,1.0,0.0,...,4.0,90.0,80.0,75.0,79.0,80.0,90.0,90.0,90.0,75.0
3,4,5.0,2,10,28,51,2,1943,1.0,1.0,...,3.0,100.0,90.0,70.0,80.0,80.0,90.0,90.0,80.0,80.0
4,5,4.0,1,7,18,36,2,1994,1.0,1.0,...,2.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10963,10964,NaN,1,27,77,117,2,1946,1.0,1.0,...,5.0,50.0,60.0,60.0,70.0,50.0,60.0,40.0,60.0,50.0
10964,10965,NaN,2,26,74,114,2,1977,1.0,1.0,...,3.0,60.0,50.0,70.0,50.0,50.0,50.0,50.0,50.0,50.0
10965,10966,NaN,2,29,84,127,2,1968,1.0,1.0,...,4.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0
10966,10967,NaN,1,11,31,54,1,1950,1.0,1.0,...,3.0,84.0,60.0,70.0,87.0,90.0,80.0,80.0,80.0,80.0
10967,10968,NaN,1,13,37,68,1,1941,1.0,1.0,...,5.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0

In [40]:
search_negative(data)

id 的异常值个数为：0
happiness 的异常值个数为：0
survey_type 的异常值个数为：0
province 的异常值个数为：0
city 的异常值个数为：0
county 的异常值个数为：0
gender 的异常值个数为：0
birth 的异常值个数为：0
nationality 的异常值个数为：0
religion 的异常值个数为：0
religion_freq 的异常值个数为：0
edu 的异常值个数为：0
edu_status 的异常值个数为：0
edu_yr 的异常值个数为：0
income 的异常值个数为：0
political 的异常值个数为：0
join_party 的异常值个数为：0
floor_area 的异常值个数为：0
property_0 的异常值个数为：0
property_1 的异常值个数为：0
property_2 的异常值个数为：0
property_3 的异常值个数为：0
property_4 的异常值个数为：0
property_5 的异常值个数为：0
property_6 的异常值个数为：0
property_7 的异常值个数为：0
property_8 的异常值个数为：0
height_cm 的异常值个数为：0
weight_jin 的异常值个数为：0
health 的异常值个数为：0
health_problem 的异常值个数为：0
depression 的异常值个数为：0
hukou 的异常值个数为：0
hukou_loc 的异常值个数为：0
media_1 的异常值个数为：0
media_2 的异常值个数为：0
media_3 的异常值个数为：0
media_4 的异常值个数为：0
media_5 的异常值个数为：0
media_6 的异常值个数为：0
leisure_1 的异常值个数为：0
leisure_2 的异常值个数为：0
leisure_3 的异常值个数为：0
leisure_4 的异常值个数为：0
leisure_5 的异常值个数为：0
leisure_6 的异常值个数为：0
leisure_7 的异常值个数为：0
leisure_8 的异常值个数为：0
leisure_9 的异常值个数为：0
leisure_10 的异常值个数为：0
leisure_11 的异常值个数为：0
leisure_12 的异常值个数为：0
socialize 的异常值个数为：0
relax 的异常值个数为：0
learn 的异常值个数为：0
social_neighbor 的异常值个数为：0
social_friend 的异常值个数为：0
socia_outing 的异常值个数为：0
equity 的异常值个数为：0
class 的异常值个数为：0
class_10_before 的异常值个数为：0
class_10_after 的异常值个数为：0
class_14 的异常值个数为：0
work_exper 的异常值个数为：0
work_status 的异常值个数为：0
work_yr 的异常值个数为：0
work_type 的异常值个数为：0
work_manage 的异常值个数为：0
insur_1 的异常值个数为：0
insur_2 的异常值个数为：0
insur_3 的异常值个数为：0
insur_4 的异常值个数为：0
family_income 的异常值个数为：0
family_m 的异常值个数为：0
family_status 的异常值个数为：0
house 的异常值个数为：0
car 的异常值个数为：0
invest_0 的异常值个数为：0
invest_1 的异常值个数为：0
invest_2 的异常值个数为：0
invest_3 的异常值个数为：0
invest_4 的异常值个数为：0
invest_5 的异常值个数为：0
invest_6 的异常值个数为：0
invest_7 的异常值个数为：0
invest_8 的异常值个数为：0
son 的异常值个数为：0
daughter 的异常值个数为：0
minor_child 的异常值个数为：0
marital 的异常值个数为：0
marital_1st 的异常值个数为：0
s_birth 的异常值个数为：0
marital_now 的异常值个数为：0
s_edu 的异常值个数为：0
s_political 的异常值个数为：0
s_hukou 的异常值个数为：0
s_income 的异常值个数为：0
s_work_exper 的异常值个数为：0
s_work_status 的异常值个数为：0
s_work_type 的异常值个数为：0
f_birth 的异常值个数为：0
f_edu 的异常值个数为：0
f_political 的异常值个数为：0
f_work_14 的异常值个数为：0
m_birth 的异常值个数为：0
m_edu 的异常值个数为：0
m_political 的异常值个数为：0
m_work_14 的异常值个数为：0
status_peer 的异常值个数为：0
status_3_before 的异常值个数为：0
view 的异常值个数为：0
inc_ability 的异常值个数为：0
inc_exp 的异常值个数为：0
trust_1 的异常值个数为：0
trust_2 的异常值个数为：0
trust_3 的异常值个数为：0
trust_4 的异常值个数为：0
trust_5 的异常值个数为：0
trust_6 的异常值个数为：0
trust_7 的异常值个数为：0
trust_8 的异常值个数为：0
trust_9 的异常值个数为：0
trust_10 的异常值个数为：0
trust_11 的异常值个数为：0
trust_12 的异常值个数为：0
trust_13 的异常值个数为：0
neighbor_familiarity 的异常值个数为：0
public_service_1 的异常值个数为：0
public_service_2 的异常值个数为：0
public_service_3 的异常值个数为：0
public_service_4 的异常值个数为：0
public_service_5 的异常值个数为：0
public_service_6 的异常值个数为：0
public_service_7 的异常值个数为：0
public_service_8 的异常值个数为：0
public_service_9 的异常值个数为：0

In [41]:
drop_morenan(data)

---------------------
id缺失值为0
---------------------
---------------------
survey_type缺失值为0
---------------------
province缺失值为0
---------------------
city缺失值为0
---------------------
county缺失值为0
---------------------
gender缺失值为0
---------------------
birth缺失值为0
---------------------
nationality缺失值为20
---------------------
religion缺失值为146
---------------------
religion_freq缺失值为22
---------------------
edu缺失值为19
---------------------
edu_status缺失值为1607
---------------------
edu_yr缺失值为4435
缺失数量大于20%，将该特征删除
---------------------
income缺失值为605
---------------------
political缺失值为47
---------------------
join_party缺失值为9962
缺失数量大于20%，将该特征删除
---------------------
floor_area缺失值为0
---------------------
property_0缺失值为0
---------------------
property_1缺失值为0
---------------------
property_2缺失值为0
---------------------
property_3缺失值为0
---------------------
property_4缺失值为0
---------------------
property_5缺失值为0
---------------------
property_6缺失值为0
---------------------
property_7缺失值为0
---------------------
property_8缺失值为0
---------------------
height_cm缺失值为0
---------------------
weight_jin缺失值为0
---------------------
health缺失值为7
---------------------
health_problem缺失值为52
---------------------
depression缺失值为26
---------------------
hukou缺失值为0
---------------------
hukou_loc缺失值为4
---------------------
media_1缺失值为2
---------------------
media_2缺失值为5
---------------------
media_3缺失值为5
---------------------
media_4缺失值为4
---------------------
media_5缺失值为17
---------------------
media_6缺失值为21
---------------------
leisure_1缺失值为7
---------------------
leisure_2缺失值为22
---------------------
leisure_3缺失值为21
---------------------
leisure_4缺失值为16
---------------------
leisure_5缺失值为92
---------------------
leisure_6缺失值为21
---------------------
leisure_7缺失值为44
---------------------
leisure_8缺失值为24
---------------------
leisure_9缺失值为27
---------------------
leisure_10缺失值为47
---------------------
leisure_11缺失值为48
---------------------
leisure_12缺失值为37
---------------------
socialize缺失值为6
---------------------
relax缺失值为22
---------------------
learn缺失值为28
---------------------
social_neighbor缺失值为1114
---------------------
social_friend缺失值为1157
---------------------
socia_outing缺失值为71
---------------------
equity缺失值为64
---------------------
class缺失值为106
---------------------
class_10_before缺失值为148
---------------------
class_10_after缺失值为638
---------------------
class_14缺失值为191
---------------------
work_exper缺失值为0
---------------------
work_status缺失值为6975
缺失数量大于20%，将该特征删除
---------------------
work_yr缺失值为7148
缺失数量大于20%，将该特征删除
---------------------
work_type缺失值为7031
缺失数量大于20%，将该特征删除
---------------------
work_manage缺失值为7025
缺失数量大于20%，将该特征删除
---------------------
insur_1缺失值为51
---------------------
insur_2缺失值为162
---------------------
insur_3缺失值为221
---------------------
insur_4缺失值为249
---------------------
family_income缺失值为931
---------------------
family_m缺失值为33
---------------------
family_status缺失值为64
---------------------
house缺失值为174
---------------------
car缺失值为13
---------------------
invest_0缺失值为0
---------------------
invest_1缺失值为0
---------------------
invest_2缺失值为0
---------------------
invest_3缺失值为0
---------------------
invest_4缺失值为0
---------------------
invest_5缺失值为0
---------------------
invest_6缺失值为0
---------------------
invest_7缺失值为0
---------------------
invest_8缺失值为0
---------------------
son缺失值为14
---------------------
daughter缺失值为16
---------------------
minor_child缺失值为1461
---------------------
marital缺失值为0
---------------------
marital_1st缺失值为1901
---------------------
s_birth缺失值为2367
缺失数量大于20%，将该特征删除
---------------------
marital_now缺失值为2938
缺失数量大于20%，将该特征删除
---------------------
s_edu缺失值为2413
缺失数量大于20%，将该特征删除
---------------------
s_political缺失值为2391
缺失数量大于20%，将该特征删除
---------------------
s_hukou缺失值为2390
缺失数量大于20%，将该特征删除
---------------------
s_income缺失值为3063
缺失数量大于20%，将该特征删除
---------------------
s_work_exper缺失值为2367
缺失数量大于20%，将该特征删除
---------------------
s_work_status缺失值为7484
缺失数量大于20%，将该特征删除
---------------------
s_work_type缺失值为7501
缺失数量大于20%，将该特征删除
---------------------
f_birth缺失值为4664
缺失数量大于20%，将该特征删除
---------------------
f_edu缺失值为835
---------------------
f_political缺失值为282
---------------------
f_work_14缺失值为418
---------------------
m_birth缺失值为4448
缺失数量大于20%，将该特征删除
---------------------
m_edu缺失值为685
---------------------
m_political缺失值为212
---------------------
m_work_14缺失值为405
---------------------
status_peer缺失值为65
---------------------
status_3_before缺失值为58
---------------------
view缺失值为305
---------------------
inc_ability缺失值为1325
---------------------
inc_exp缺失值为1501
---------------------
trust_1缺失值为109
---------------------
trust_2缺失值为314
---------------------
trust_3缺失值为1399
---------------------
trust_4缺失值为1413
---------------------
trust_5缺失值为64
---------------------
trust_6缺失值为1562
---------------------
trust_7缺失值为310
---------------------
trust_8缺失值为1381
---------------------
trust_9缺失值为648
---------------------
trust_10缺失值为2451
缺失数量大于20%，将该特征删除
---------------------
trust_11缺失值为5456
缺失数量大于20%，将该特征删除
---------------------
trust_12缺失值为3382
缺失数量大于20%，将该特征删除
---------------------
trust_13缺失值为214
---------------------
neighbor_familiarity缺失值为11
---------------------
public_service_1缺失值为318
---------------------
public_service_2缺失值为233
---------------------
public_service_3缺失值为589
---------------------
public_service_4缺失值为444
---------------------
public_service_5缺失值为511
---------------------
public_service_6缺失值为321
---------------------
public_service_7缺失值为405
---------------------
public_service_8缺失值为585
---------------------
public_service_9缺失值为405

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,...,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4.0,1,12,32,59,1,1959,1.0,1.0,...,4.0,50.0,60.0,50.0,50.0,30.0,30.0,50.0,50.0,50.0
1,2,4.0,2,18,52,85,1,1992,1.0,1.0,...,3.0,90.0,70.0,70.0,80.0,85.0,70.0,90.0,60.0,60.0
2,3,4.0,2,29,83,126,2,1967,1.0,0.0,...,4.0,90.0,80.0,75.0,79.0,80.0,90.0,90.0,90.0,75.0
3,4,5.0,2,10,28,51,2,1943,1.0,1.0,...,3.0,100.0,90.0,70.0,80.0,80.0,90.0,90.0,80.0,80.0
4,5,4.0,1,7,18,36,2,1994,1.0,1.0,...,2.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10963,10964,NaN,1,27,77,117,2,1946,1.0,1.0,...,5.0,50.0,60.0,60.0,70.0,50.0,60.0,40.0,60.0,50.0
10964,10965,NaN,2,26,74,114,2,1977,1.0,1.0,...,3.0,60.0,50.0,70.0,50.0,50.0,50.0,50.0,50.0,50.0
10965,10966,NaN,2,29,84,127,2,1968,1.0,1.0,...,4.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0
10966,10967,NaN,1,11,31,54,1,1950,1.0,1.0,...,3.0,84.0,60.0,70.0,87.0,90.0,80.0,80.0,80.0,80.0
10967,10968,NaN,1,13,37,68,1,1941,1.0,1.0,...,5.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0

In [42]:
data.info(max_cols=150)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 136 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10968 non-null  int64
 1   happiness             7988 non-null   float64
 2   survey_type           10968 non-null  int64
 3   province              10968 non-null  int64
 4   city                  10968 non-null  int64
 5   county                10968 non-null  int64
 6   gender                10968 non-null  int64
 7   birth                 10968 non-null  int64
 8   nationality           10948 non-null  float64
 9   religion              10822 non-null  float64
 10  religion_freq         10946 non-null  float64
 11  edu                   10949 non-null  float64
 12  edu_status            9361 non-null   float64
 13  edu_yr                6533 non-null   float64
 14  income                10363 non-null  float64
 15  political             10921 non-null  float64
 16  join_party            1006 non-null   float64
 17  floor_area            10968 non-null  float64
 18  property_0            10968 non-null  int64
 19  property_1            10968 non-null  int64
 20  property_2            10968 non-null  int64
 21  property_3            10968 non-null  int64
 22  property_4            10968 non-null  int64
 23  property_5            10968 non-null  int64
 24  property_6            10968 non-null  int64
 25  property_7            10968 non-null  int64
 26  property_8            10968 non-null  int64
 27  height_cm             10968 non-null  int64
 28  weight_jin            10968 non-null  int64
 29  health                10961 non-null  float64
 30  health_problem        10916 non-null  float64
 31  depression            10942 non-null  float64
 32  hukou                 10968 non-null  int64
 33  hukou_loc             10964 non-null  float64
 34  media_1               10966 non-null  float64
 35  media_2               10963 non-null  float64
 36  media_3               10963 non-null  float64
 37  media_4               10964 non-null  float64
 38  media_5               10951 non-null  float64
 39  media_6               10947 non-null  float64
 40  leisure_1             10961 non-null  float64
 41  leisure_2             10946 non-null  float64
 42  leisure_3             10947 non-null  float64
 43  leisure_4             10952 non-null  float64
 44  leisure_5             10876 non-null  float64
 45  leisure_6             10947 non-null  float64
 46  leisure_7             10924 non-null  float64
 47  leisure_8             10944 non-null  float64
 48  leisure_9             10941 non-null  float64
 49  leisure_10            10921 non-null  float64
 50  leisure_11            10920 non-null  float64
 51  leisure_12            10931 non-null  float64
 52  socialize             10962 non-null  float64
 53  relax                 10946 non-null  float64
 54  learn                 10940 non-null  float64
 55  social_neighbor       9854 non-null   float64
 56  social_friend         9811 non-null   float64
 57  socia_outing          10897 non-null  float64
 58  equity                10904 non-null  float64
 59  class                 10862 non-null  float64
 60  class_10_before       10820 non-null  float64
 61  class_10_after        10330 non-null  float64
 62  class_14              10777 non-null  float64
 63  work_exper            10968 non-null  int64
 64  work_status           3993 non-null   float64
 65  work_yr               3820 non-null   float64
 66  work_type             3937 non-null   float64
 67  work_manage           3943 non-null   float64
 68  insur_1               10917 non-null  float64
 69  insur_2               10806 non-null  float64
 70  insur_3               10747 non-null  float64
 71  insur_4               10719 non-null  float64
 72  family_income         10037 non-null  float64
 73  family_m              10935 non-null  float64
 74  family_status         10904 non-null  float64
 75  house                 10794 non-null  float64
 76  car                   10955 non-null  float64
 77  invest_0              10968 non-null  int64
 78  invest_1              10968 non-null  int64
 79  invest_2              10968 non-null  int64
 80  invest_3              10968 non-null  int64
 81  invest_4              10968 non-null  int64
 82  invest_5              10968 non-null  int64
 83  invest_6              10968 non-null  int64
 84  invest_7              10968 non-null  int64
 85  invest_8              10968 non-null  int64
 86  son                   10954 non-null  float64
 87  daughter              10952 non-null  float64
 88  minor_child           9507 non-null   float64
 89  marital               10968 non-null  int64
 90  marital_1st           9067 non-null   float64
 91  s_birth               8601 non-null   float64
 92  marital_now           8030 non-null   float64
 93  s_edu                 8555 non-null   float64
 94  s_political           8577 non-null   float64
 95  s_hukou               8578 non-null   float64
 96  s_income              7905 non-null   float64
 97  s_work_exper          8601 non-null   float64
 98  s_work_status         3484 non-null   float64
 99  s_work_type           3467 non-null   float64
 100 f_birth               6304 non-null   float64
 101 f_edu                 10133 non-null  float64
 102 f_political           10686 non-null  float64
 103 f_work_14             10550 non-null  float64
 104 m_birth               6520 non-null   float64
 105 m_edu                 10283 non-null  float64
 106 m_political           10756 non-null  float64
 107 m_work_14             10563 non-null  float64
 108 status_peer           10903 non-null  float64
 109 status_3_before       10910 non-null  float64
 110 view                  10663 non-null  float64
 111 inc_ability           9643 non-null   float64
 112 inc_exp               9467 non-null   float64
 113 trust_1               10859 non-null  float64
 114 trust_2               10654 non-null  float64
 115 trust_3               9569 non-null   float64
 116 trust_4               9555 non-null   float64
 117 trust_5               10904 non-null  float64
 118 trust_6               9406 non-null   float64
 119 trust_7               10658 non-null  float64
 120 trust_8               9587 non-null   float64
 121 trust_9               10320 non-null  float64
 122 trust_10              8517 non-null   float64
 123 trust_11              5512 non-null   float64
 124 trust_12              7586 non-null   float64
 125 trust_13              10754 non-null  float64
 126 neighbor_familiarity  10957 non-null  float64
 127 public_service_1      10650 non-null  float64
 128 public_service_2      10735 non-null  float64
 129 public_service_3      10379 non-null  float64
 130 public_service_4      10524 non-null  float64
 131 public_service_5      10457 non-null  float64
 132 public_service_6      10647 non-null  float64
 133 public_service_7      10563 non-null  float64
 134 public_service_8      10383 non-null  float64
 135 public_service_9      10563 non-null  float64
dtypes: float64(106), int64(30)
memory usage: 11.4 MB

In [43]:
data= reduce_mem_usage(data)

Memory usage of dataframe is 11933312.00 B
Memory usage after optimization is: 2796968.00 B
Decreased by 76.6%

In [44]:
def fillna(data): #缺失值填充，这里安照均值填充
    for i in data.columns:
        if i =='happiness':
            continue
        data[i] = data[i].fillna(data[i].mean())

In [45]:
fillna(data)

In [46]:
data.info(max_cols=150)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 136 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10968 non-null  int16
 1   happiness             7988 non-null   float16
 2   survey_type           10968 non-null  int8
 3   province              10968 non-null  int8
 4   city                  10968 non-null  int8
 5   county                10968 non-null  int16
 6   gender                10968 non-null  int8
 7   birth                 10968 non-null  int16
 8   nationality           10968 non-null  float16
 9   religion              10968 non-null  float16
 10  religion_freq         10968 non-null  float16
 11  edu                   10968 non-null  float16
 12  edu_status            10968 non-null  float16
 13  edu_yr                10968 non-null  float16
 14  income                10968 non-null  float32
 15  political             10968 non-null  float16
 16  join_party            10968 non-null  float16
 17  floor_area            10968 non-null  float16
 18  property_0            10968 non-null  int8
 19  property_1            10968 non-null  int8
 20  property_2            10968 non-null  int8
 21  property_3            10968 non-null  int8
 22  property_4            10968 non-null  int8
 23  property_5            10968 non-null  int8
 24  property_6            10968 non-null  int8
 25  property_7            10968 non-null  int8
 26  property_8            10968 non-null  int8
 27  height_cm             10968 non-null  int16
 28  weight_jin            10968 non-null  int16
 29  health                10968 non-null  float16
 30  health_problem        10968 non-null  float16
 31  depression            10968 non-null  float16
 32  hukou                 10968 non-null  int8
 33  hukou_loc             10968 non-null  float16
 34  media_1               10968 non-null  float16
 35  media_2               10968 non-null  float16
 36  media_3               10968 non-null  float16
 37  media_4               10968 non-null  float16
 38  media_5               10968 non-null  float16
 39  media_6               10968 non-null  float16
 40  leisure_1             10968 non-null  float16
 41  leisure_2             10968 non-null  float16
 42  leisure_3             10968 non-null  float16
 43  leisure_4             10968 non-null  float16
 44  leisure_5             10968 non-null  float16
 45  leisure_6             10968 non-null  float16
 46  leisure_7             10968 non-null  float16
 47  leisure_8             10968 non-null  float16
 48  leisure_9             10968 non-null  float16
 49  leisure_10            10968 non-null  float16
 50  leisure_11            10968 non-null  float16
 51  leisure_12            10968 non-null  float16
 52  socialize             10968 non-null  float16
 53  relax                 10968 non-null  float16
 54  learn                 10968 non-null  float16
 55  social_neighbor       10968 non-null  float16
 56  social_friend         10968 non-null  float16
 57  socia_outing          10968 non-null  float16
 58  equity                10968 non-null  float16
 59  class                 10968 non-null  float16
 60  class_10_before       10968 non-null  float16
 61  class_10_after        10968 non-null  float16
 62  class_14              10968 non-null  float16
 63  work_exper            10968 non-null  int8
 64  work_status           10968 non-null  float16
 65  work_yr               10968 non-null  float16
 66  work_type             10968 non-null  float16
 67  work_manage           10968 non-null  float16
 68  insur_1               10968 non-null  float16
 69  insur_2               10968 non-null  float16
 70  insur_3               10968 non-null  float16
 71  insur_4               10968 non-null  float16
 72  family_income         10968 non-null  float32
 73  family_m              10968 non-null  float16
 74  family_status         10968 non-null  float16
 75  house                 10968 non-null  float16
 76  car                   10968 non-null  float16
 77  invest_0              10968 non-null  int8
 78  invest_1              10968 non-null  int8
 79  invest_2              10968 non-null  int8
 80  invest_3              10968 non-null  int8
 81  invest_4              10968 non-null  int8
 82  invest_5              10968 non-null  int8
 83  invest_6              10968 non-null  int8
 84  invest_7              10968 non-null  int8
 85  invest_8              10968 non-null  int8
 86  son                   10968 non-null  float16
 87  daughter              10968 non-null  float16
 88  minor_child           10968 non-null  float16
 89  marital               10968 non-null  int8
 90  marital_1st           10968 non-null  float16
 91  s_birth               10968 non-null  float16
 92  marital_now           10968 non-null  float16
 93  s_edu                 10968 non-null  float16
 94  s_political           10968 non-null  float16
 95  s_hukou               10968 non-null  float16
 96  s_income              10968 non-null  float32
 97  s_work_exper          10968 non-null  float16
 98  s_work_status         10968 non-null  float16
 99  s_work_type           10968 non-null  float16
 100 f_birth               10968 non-null  float16
 101 f_edu                 10968 non-null  float16
 102 f_political           10968 non-null  float16
 103 f_work_14             10968 non-null  float16
 104 m_birth               10968 non-null  float16
 105 m_edu                 10968 non-null  float16
 106 m_political           10968 non-null  float16
 107 m_work_14             10968 non-null  float16
 108 status_peer           10968 non-null  float16
 109 status_3_before       10968 non-null  float16
 110 view                  10968 non-null  float16
 111 inc_ability           10968 non-null  float16
 112 inc_exp               10968 non-null  float32
 113 trust_1               10968 non-null  float16
 114 trust_2               10968 non-null  float16
 115 trust_3               10968 non-null  float16
 116 trust_4               10968 non-null  float16
 117 trust_5               10968 non-null  float16
 118 trust_6               10968 non-null  float16
 119 trust_7               10968 non-null  float16
 120 trust_8               10968 non-null  float16
 121 trust_9               10968 non-null  float16
 122 trust_10              10968 non-null  float16
 123 trust_11              10968 non-null  float16
 124 trust_12              10968 non-null  float16
 125 trust_13              10968 non-null  float16
 126 neighbor_familiarity  10968 non-null  float16
 127 public_service_1      10968 non-null  float16
 128 public_service_2      10968 non-null  float16
 129 public_service_3      10968 non-null  float16
 130 public_service_4      10968 non-null  float16
 131 public_service_5      10968 non-null  float16
 132 public_service_6      10968 non-null  float16
 133 public_service_7      10968 non-null  float16
 134 public_service_8      10968 non-null  float16
 135 public_service_9      10968 non-null  float16
dtypes: float16(102), float32(4), int16(5), int8(25)
memory usage: 2.7 MB

In [50]:
data.corr()['happiness']

id                  0.004041
happiness           1.000000
survey_type        -0.033844
province           -0.018568
city               -0.021038
                      ...
public_service_5    0.156715
public_service_6    0.182439
public_service_7    0.186180
public_service_8    0.139224
public_service_9    0.147039
Name: happiness, Length: 136, dtype: float64

In [52]:
ls  = list(data.corr()['happiness'].apply(lambda x: abs(x)).sort_values()[:20].index) #看出来低关系系数非常低，将很低的特征筛选出来

In [53]:
data = data.drop(ls, axis=1)

In [54]:
data.info(max_cols=150)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10968 entries, 0 to 10967
Data columns (total 116 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   happiness             7988 non-null   float16
 1   survey_type           10968 non-null  int8
 2   province              10968 non-null  int8
 3   city                  10968 non-null  int8
 4   county                10968 non-null  int16
 5   gender                10968 non-null  int8
 6   nationality           10968 non-null  float16
 7   religion              10968 non-null  float16
 8   edu                   10968 non-null  float16
 9   edu_status            10968 non-null  float16
 10  edu_yr                10968 non-null  float16
 11  income                10968 non-null  float32
 12  political             10968 non-null  float16
 13  join_party            10968 non-null  float16
 14  floor_area            10968 non-null  float16
 15  property_0            10968 non-null  int8
 16  property_2            10968 non-null  int8
 17  property_3            10968 non-null  int8
 18  property_4            10968 non-null  int8
 19  property_7            10968 non-null  int8
 20  property_8            10968 non-null  int8
 21  height_cm             10968 non-null  int16
 22  weight_jin            10968 non-null  int16
 23  health                10968 non-null  float16
 24  health_problem        10968 non-null  float16
 25  depression            10968 non-null  float16
 26  hukou                 10968 non-null  int8
 27  media_1               10968 non-null  float16
 28  media_2               10968 non-null  float16
 29  media_3               10968 non-null  float16
 30  media_4               10968 non-null  float16
 31  media_5               10968 non-null  float16
 32  media_6               10968 non-null  float16
 33  leisure_1             10968 non-null  float16
 34  leisure_2             10968 non-null  float16
 35  leisure_3             10968 non-null  float16
 36  leisure_4             10968 non-null  float16
 37  leisure_5             10968 non-null  float16
 38  leisure_6             10968 non-null  float16
 39  leisure_7             10968 non-null  float16
 40  leisure_8             10968 non-null  float16
 41  leisure_9             10968 non-null  float16
 42  leisure_10            10968 non-null  float16
 43  leisure_11            10968 non-null  float16
 44  leisure_12            10968 non-null  float16
 45  socialize             10968 non-null  float16
 46  relax                 10968 non-null  float16
 47  learn                 10968 non-null  float16
 48  social_neighbor       10968 non-null  float16
 49  social_friend         10968 non-null  float16
 50  socia_outing          10968 non-null  float16
 51  equity                10968 non-null  float16
 52  class                 10968 non-null  float16
 53  class_10_before       10968 non-null  float16
 54  class_10_after        10968 non-null  float16
 55  class_14              10968 non-null  float16
 56  work_status           10968 non-null  float16
 57  work_yr               10968 non-null  float16
 58  work_type             10968 non-null  float16
 59  work_manage           10968 non-null  float16
 60  insur_1               10968 non-null  float16
 61  insur_2               10968 non-null  float16
 62  insur_3               10968 non-null  float16
 63  insur_4               10968 non-null  float16
 64  family_income         10968 non-null  float32
 65  family_m              10968 non-null  float16
 66  family_status         10968 non-null  float16
 67  house                 10968 non-null  float16
 68  car                   10968 non-null  float16
 69  invest_1              10968 non-null  int8
 70  invest_2              10968 non-null  int8
 71  invest_3              10968 non-null  int8
 72  invest_4              10968 non-null  int8
 73  invest_6              10968 non-null  int8
 74  daughter              10968 non-null  float16
 75  marital               10968 non-null  int8
 76  marital_1st           10968 non-null  float16
 77  s_edu                 10968 non-null  float16
 78  s_political           10968 non-null  float16
 79  s_hukou               10968 non-null  float16
 80  s_income              10968 non-null  float32
 81  s_work_status         10968 non-null  float16
 82  s_work_type           10968 non-null  float16
 83  f_birth               10968 non-null  float16
 84  f_edu                 10968 non-null  float16
 85  f_political           10968 non-null  float16
 86  m_edu                 10968 non-null  float16
 87  m_political           10968 non-null  float16
 88  m_work_14             10968 non-null  float16
 89  status_peer           10968 non-null  float16
 90  status_3_before       10968 non-null  float16
 91  view                  10968 non-null  float16
 92  inc_ability           10968 non-null  float16
 93  trust_1               10968 non-null  float16
 94  trust_2               10968 non-null  float16
 95  trust_3               10968 non-null  float16
 96  trust_4               10968 non-null  float16
 97  trust_5               10968 non-null  float16
 98  trust_6               10968 non-null  float16
 99  trust_7               10968 non-null  float16
 100 trust_8               10968 non-null  float16
 101 trust_9               10968 non-null  float16
 102 trust_10              10968 non-null  float16
 103 trust_11              10968 non-null  float16
 104 trust_12              10968 non-null  float16
 105 trust_13              10968 non-null  float16
 106 neighbor_familiarity  10968 non-null  float16
 107 public_service_1      10968 non-null  float16
 108 public_service_2      10968 non-null  float16
 109 public_service_3      10968 non-null  float16
 110 public_service_4      10968 non-null  float16
 111 public_service_5      10968 non-null  float16
 112 public_service_6      10968 non-null  float16
 113 public_service_7      10968 non-null  float16
 114 public_service_8      10968 non-null  float16
 115 public_service_9      10968 non-null  float16
dtypes: float16(93), float32(3), int16(3), int8(17)
memory usage: 2.3 MB

In [56]:
train = data[data.index <= 7999] #特征工程完成后将训练集和测试集分开，然后开始建模
test = data[data.index > 7999]

In [57]:
test

,happiness,survey_type,province,city,county,gender,nationality,religion,edu,edu_status,...,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
8000,NaN,1,2,2,9,2,8.0,0.0,4.0,2.000000,...,4.000000,80.0,80.0,60.0,80.0,80.0,80.0,80.0,80.0,80.0
8001,NaN,1,22,66,106,2,1.0,1.0,4.0,4.000000,...,5.000000,90.0,80.0,80.0,80.0,80.0,80.0,70.0,80.0,80.0
8002,NaN,2,9,22,44,2,1.0,1.0,1.0,3.544922,...,5.000000,95.0,95.0,80.0,90.0,80.0,95.0,95.0,80.0,90.0
8003,NaN,2,18,52,86,2,1.0,1.0,4.0,2.000000,...,4.000000,80.0,80.0,70.0,90.0,80.0,80.0,70.0,60.0,50.0
8004,NaN,2,24,70,110,1,1.0,1.0,1.0,3.544922,...,3.734375,60.0,50.0,0.0,30.0,40.0,50.0,60.0,inf,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10963,NaN,1,27,77,117,2,1.0,1.0,3.0,2.000000,...,5.000000,50.0,60.0,60.0,70.0,50.0,60.0,40.0,60.0,50.0
10964,NaN,2,26,74,114,2,1.0,1.0,4.0,2.000000,...,3.000000,60.0,50.0,70.0,50.0,50.0,50.0,50.0,50.0,50.0
10965,NaN,2,29,84,127,2,1.0,1.0,1.0,3.544922,...,4.000000,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0
10966,NaN,1,11,31,54,1,1.0,1.0,7.0,4.000000,...,3.000000,84.0,60.0,70.0,87.0,90.0,80.0,80.0,80.0,80.0
10967,NaN,1,13,37,68,1,1.0,1.0,4.0,2.000000,...,5.000000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0

In [58]:
train['happiness'].isnull().sum()

12

In [59]:
train  = train.dropna()

In [61]:
train['invest_6'].value_counts() #发现有一个只有一个类型的特征，删除掉

0    7988
Name: invest_6, dtype: int64

In [62]:
train = train.drop(columns='invest_6')
test = test.drop(columns='invest_6')

建立模型与调参

In [63]:
#我使用了xgboost模型进行预测，优点是该算法得到的模型非常强力，缺点是调参的计算过程非常慢，所以之前对数据集的压缩很有必要

In [ ]:
#  默认随机挑选参数
train_d = xgb.DMatrix(x_train,y_train)
xgb1 = XGBRegressor(max_depth=3,
                     learning_rate=0.1,
                     n_estimators=5000,
                     silent=False,
                     booster='gbtree',
                     objective='reg:squarederror',
                     n_jobs=4,
                     gamma=0,
                     min_child_weight=1,
                     subsample=0.8,
                     colsample_bytree=0.8,
                     seed=7)

#  利用cv函数选择最佳的树的数量。
xgb.cv(xgb1.get_params(),train_d,xgb1.get_params()['n_estimators'],nfold=5,
      metrics='rmse',early_stopping_rounds=70)

In [ ]:
param = {
    'max_depth':[1,2,3,4,5,6],
    'min_child_weight':[1,2,3,4,5,6]
        
#寻找最优的max_depth和min_child_weight参数
grid = GridSearchCV(xgb1,param_grid=param,cv=5)
grid.fit(Xtrain,ytrain) 
print('The Best Params:',grid.best_params_)
print('The Best Score:',grid.best_score_)

In [ ]:
xgb1 = XGBRegressor(max_depth=2,
                     learning_rate=0.1,
                     n_estimators=218,
                     silent=False,
                     objective='reg:squarederror',
                     booster='gbtree',
                     n_jobs=4,
                     gamma=0,
                     min_child_weight=6,
                     subsample=0.8,
                     colsample_bytree=0.8,
                     seed=7)


param_grid = {'gamma':[0,1,2,3,4,5,6,7,8,9]} #查找最优的gamma参数
grid_search = GridSearchCV(xgb1,param_grid,cv=5, scoring='neg_mean_squared_error')

In [ ]:
grid_search.fit(x_train,y_train)
print('best_params:',grid_search.best_params_)
print('best_score:',grid_search.best_score_)

In [ ]:
xgb1 = XGBRegressor(max_depth=2,
                     learning_rate=0.1,
                     n_estimators=218,
                     silent=False,
                     objective='reg:squarederror',
                     booster='gbtree',
                     n_jobs=4,
                     gamma=3,
                     min_child_weight=6,
                     subsample=0.8,
                     colsample_bytree=0.8,
                     seed=7)
param_grid = {'subsample':[i/10.0 for i in range(5,11)],
             'colsample_bytree':[i/10.0 for i in range(1,11)]}
grid_search = GridSearchCV(xgb1,param_grid,iid=False,cv=5)

grid_search.fit(x_train,y_train)
print('best_params:',grid_search.best_params_)
print('best_score:',grid_search.best_score_)

In [ ]:
xgb1 = XGBRegressor(max_depth=2,
                     learning_rate=0.1,
                     n_estimators=218,
                     silent=False,
                     objective='reg:squarederror',
                     booster='gbtree',
                     n_jobs=4,
                     gamma=3,
                     min_child_weight=6,
                     subsample=0.9,
                     colsample_bytree=0.3,
                     seed=7)
xgb1.fit(X=x_train, y=y_train)
xgb1.predict(test)
test_predict = pd.DataFrame(xgb1.predict(test))
test_predict['happiness'] = test_predict[0]
test_predict  = test_predict.drop(columns=0)
test_predict['id'] = test_predict.index + 8001

模型调参完毕，将输出结果上传至比赛网站

In [ ]:
test_predict.to_csv('resultss1.csv')